.participant-summary {
  line-height: rem-calc(22px);
  font-size: $timeline-participant-summary--font-size;
  color: $timeline-item-secondary;
}

.participant-list-container {
  @include clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:7px;
  margin-bottom:4px;
  margin-right: -1px;
}

.participant-list-item-avatar{
  @include avatar(32);
  @include border-radius(100%);
}

.participant-list-item {
  margin-right: rem-calc(4px);
  float:left;

  &.disabled {
    background-color: transparent;
  }
}

.participant-avatar{
  margin-right: rem-calc(15px);
  margin-bottom: 10px;
}

.rsvp-bullet {
  @include border-radius(100%);
  display: inline-block;
  position: relative;
  top: rem-calc(2px);
  width: rem-calc(11px);
  height: rem-calc(11px);
  margin-right: rem-calc(4px);
}

.tab-bar a.disabled {
  background: transparent;
  @include vendor-prefix-opacity(0.4);
  pointer-events: none;
}
